services:
  core:
    image: cellules/core:latest
    ports:
      - "3002:3001"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/coredb

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: coredb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: